/cmake-build*
/build
/bin

/.idea*
/.sublime*
/.vscode*
/.venv

/benchmarks
/output
/examples
/archive
/tmp
/util/output

konstrain

__pycache__
.ipynb_checkpoints

*.d

*.o
*.exe
*.bin

*.pyc
*.pyo
*.pyi

*.map
*.cfg

vgcore*
